.cache/*
.vscode/*
build*/*
.idea/*
src/rpc.pb*
cmake-build-debug/*
cmake-build-release/*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
log.txt
n0_log.txt
n1_log.txt
